.body {
  max-width: 876px;
  width: 100%;
  margin: 50px auto 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.text-area {
  display: block;
  border: 2px solid black;
  min-height: 100px;
  max-width: 870px;
  width: 100%;
  padding: 5px;
  margin: 0 auto 10px;
}

/* .keyboard-wrapper {
  display: block;
  border: 2px solid black;
  padding: 5px;
} */

.keyboard-wrapper {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
  justify-content: center;
  padding: 5px;

}

/* .keyboard-wrapper::after {
  content: "";
  display: grid;
  clear: both;
} */

.big-button {
  display: flex;
  width: 126px;
  height: 50px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  margin: 3px;
}

.tab {
  display: flex;
  width: 70px;
  height: 50px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  margin: 3px;
}

.double-button {
  display: flex;
  width: 106px;
  height: 50px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  margin: 3px;
}

.space {
  display: flex;
  width: 406px;
  height: 50px;
  border: 1px solid black;
  margin: 3px;
}

.big-button,
.tab,
.double-button,
.service-button {
  color: white;
  background-color: black;
  font-weight: 700;
}

.arrows-key,
.space {
  color: white;
  background-color: grey;
}

.arrows-key {
  display: flex;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  margin: 3px;
}

.arrow-up {
  width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #1e9e93;
}

.arrow-down {
  width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #1e9e93;
}

.arrow-left {
  width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 20px solid #1e9e93;
    border-bottom: 10px solid transparent;
}

.arrow-right {
  width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid #1e9e93;
    border-bottom: 10px solid transparent;
}

.button {
  display: flex;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  margin: 3px;
}

.service-button {
  display: flex;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  margin: 3px;
}

.active {
  background: skyblue;
}